.container {
  margin: 1rem 10rem;
}

.title {
  text-align: center;
}

.testText {
  resize: none;
  display: block;
  width: 50rem;
  height: 15rem;
  margin: 0px auto;
  font-size: 1.6rem;
}

.userInputContainer {
  margin: 1rem 7rem;
}

.userInput {
  display: block;
  width: 20rem;
  height: 1.7rem;
  font-size: 1.5rem;
}